@import url('https://fonts.googleapis.com/css?family=Raleway+Dots|Sacramento&display=swap');
/* font-family: 'Sacramento', cursive;
font-family: 'Raleway Dots', cursive;*/

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 4fr;
  /* font-family: 'Chathura', sans-serif; */
  font-family: 'Raleway Dots';
  background-color: white;
}

#project-title {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

#work-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw;
}

#drawing-board, #preview {
  margin: 10px;
}

#drawing-board > .project {
  background-color: #cae8dc;
  font-family: 'Raleway Dots';
  font-weight: 700;
  color: grey;
}

#preview > .project {
  font-family: 'Sacramento', cursive;
}

#all-projects {
  color: orange;
  margin-top: 2vh;
  font-weight: 700;
}

#all-projects > span {
  padding: 0 2vh;
}

.project {
  height: 50vh;
  padding: 3vw;
  border-radius: 5%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.project > div {
  font-size: large;
}

p, input, textarea {
  font-family: 'Raleway Dots';
  font-weight: 700;
}

input, textarea {
  font-size: large;
  text-align: center;
  color: grey;
  background-color:#cae8dc;
  border: none;
}

input::placeholder, textarea::placeholder {
  color: grey;
}

input:focus, textarea:focus {
  outline: none;
}